<div id="matrix">
    <table class="table table-bordered">
        <thead>
            <tr id="matrixHeaders"></tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">
                    <div id="callContainer_Strikes" style="height:100px; width:80px; overflow:auto;">
                        <table id="tableStrike_Call" class="table"></table>
                    </div>
                </th>
                <th scope="row">
                    <div id="callContainer_Options00" style="height:100px; overflow:auto;">
                        <table id="callTable00" class="table optionTable_Call"></table>
                    </div>
                </th>
                <th scope="row">
                    <div id="callContainer_Options01" style="height:100px; overflow:auto;">
                        <table id="callTable01" class="table optionTable_Call"></table>
                    </div>
                </th>
                <th scope="row">
                    <div id="callContainer_Options02" style="height:100px; overflow:auto;" (scroll)="callTableScroll()">
                        <table id="callTable02" class="table optionTable_Call"></table>
                    </div>
                </th>
            </tr>
            <tr>
                <th scope="row">
                    <div id="putContainer_Strikes" style="height:500px; width:80px; overflow:auto;">
                        <table id="tableStrike_Put" class="table"></table>
                    </div>
                </th>
                <th scope="row">
                    <div id="putContainer_Options00" style="height:500px; overflow:auto;">
                        <table id="callTable00" class="table optionTable_Put"></table>
                    </div>
                </th>
                <th scope="row">
                    <div id="putContainer_Options01" style="height:500px; overflow:auto;">
                        <table id="putTable01" class="table optionTable_Put"></table>
                    </div>
                </th>
                <th scope="row">
                    <div id="putContainer_Options02" style="height:500px; overflow:auto;" (scroll)="putTableScroll()">
                        <table id="putTable02" class="table optionTable_Put"></table>
                    </div>
                </th>
            </tr>
        </tbody>
    </table>
</div>

