<div class="row" style="height:710px">
    <div class="col-lg-1">
        <ul class="nav nav-pills nav-stacked" role="tablist">
            <li class="active"><a href="#">Matrix</a></li>
            <li><a href="#">Profile</a></li>
        </ul>
    </div>
    <!--<div class="col-lg-9">
        <code_editor></code_editor>
    </div>-->
    <div class="col-lg-9">
        <matrix></matrix>
    </div>
    <div class="col-md-offset-10 well">
        <metrics_sidebar></metrics_sidebar>
    </div>
</div>
<profile></profile>


