
<div>
    <button id="prevDateBtn" (click)="revertBacktestBtn()" class="btn btn-warning"><</button>
    <button id="nextDateBtn" (click)="progressBacktestBtn()" class="btn btn-warning">></button>
    <label id="dateLabel">{{ currentDate }}</label>
</div>
<div>
    <h5 style="display:inline-block" id="navLabel">NAV: </h5>
    <h5 style="display:inline-block;  background-color:hotpink" id="navValue">{{ currentNav | currency:'USD':true }}</h5>
    <div *ngIf="newPositionsval" style="display:inline-block; background-color:greenyellow">
        <h5 style="display:inline-block" id="newPositionsLabel"> + </h5>
        <h5 style="display:inline-block" id="newPositionsValue">{{ newPositionsval | currency:'USD':true }}</h5>
    </div>
</div>
<div>
    <h5 id="unRealisedPnlLabel" style="display:inline-block">Unrealised PnL: </h5>
    <h5 id="unRealisedPnlValue" style="display:inline-block">{{ unRealisedPnL | currency:'USD':true }}</h5>
</div>
<div>
    <h5 id="realisedPnlLabel" style="display:inline-block">Realised PnL: </h5>
    <h5 id="realisedPnlValue" style="display:inline-block;  background-color:lightskyblue">{{ realisedPnL | currency:'USD':true }}</h5>
</div>
<button (click)="commitTradesBtn()" class="btn btn-success">Commit</button>
